extends layout
block content
    .row.banner
        .col-12
            h1= title
    .row
        .col-12.col-lg-8
            p
                | It is website were you can see our products which we sell at retail prices w