extends layout

block content
  .row.banner
    .col-12
      p(style="text-align: center; font-family: 'Times Nwe Roman', sans-serif; font-size: 46px; color: #888; font-weight: bold; margin-top: 150px;") S³ - Sai Enterprises !
      p(style="text-align: center; font-family: 'Times New Roman', sans-serif; font-size: 34px; color: #888;") One Stop Destination
