extends layout
block content
    .row.banner
        .col-12
            h1 ENGINE OILS 
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    .card.card-primary
                        .card-block
                            h2.card-title Castrol
                            img.img-fluid.rounded(src='https://rukminim2.flixcart.com/image/850/1000/xif0q/vehicle-lubricant/8/0/y/-original-imagry6a5sczbfqz.jpeg?q=20')
                    .card.card-primary
                        .card-block
                            h2.card-title  Servo
                             img.img-fluid.rounded(src='https://5.imimg.com/data5/SELLER/Default/2021/8/JP/JP/JB/20565351/20w-40-mg-15l-diesel-engine-oil.jpg')
                    .card.card-primary
                        .card-block
                            h2.card-title Mobil Super
                             img.img-fluid.rounded(src='https://m.media-amazon.com/images/I/71mKj8j0yYL.jpg')