extends layout
block content
    style.
        .image-container {
            text-align: center; /* Center-align the text */
            padding: 20px; /* Add padding for spacing */
        }
        .image-container img {
            width: 100%; /* Ensure all images have the same width */
            max-height: 200px; /* Set a fixed height for the image containers */
            display: block;
            margin: 0 auto;
        }
        .image-container p {
            margin-top: 5px; /* Add some spacing between image and text */
        }
    .row.banner
        .col-12
            h1 SPARE PARTS 
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    .card-primary
                    .card-block
                            h2.card-title Break pads
                            .image-container
                                img.img-fluid.rounded(src='https://media.istockphoto.com/id/503317759/photo/brake-pads.jpg?s=612x612&w=0&k=20&c=mMaGLbmU_sJC9K1-huzIVcOFB2672MPO7BolX-ZVZNc=')
                                img.img-fluid.rounded(src='https://5.imimg.com/data5/DG/FR/MY-36628322/maruti-sx4-front-brake-pad-250x250.jpg')
                                img.img-fluid.rounded(src='https://neobrake.com/wp-content/uploads/2016/06/NeoBrake-Air-Disc-Brake-Pads-2.1.png')
                        
                    .card-primary
                        .card-block
                            h2.card-title Chains
                            .image-container
                                img.img-fluid.rounded(src='https://ridermagazine.com/wp-content/uploads/2019/05/Chains-Stacked.jpg')
                        
                             
                    .card-primary
                        .card-block
                            h2.card-title Break Levers
                            .image-container
                                img.img-fluid.rounded(src='https://m.media-amazon.com/images/I/61-HF5Xr3uL.jpg')
                                img.img-fluid.rounded(src='https://5.imimg.com/data5/SELLER/Default/2022/1/DC/SU/MD/54159181/e-bike-brake-lever.jpg')
                                img.img-fluid.rounded(src='https://cdn.shoplightspeed.com/shops/656272/files/46937327/350x350x2/dia-compe-dia-compe-double-pull-tech-77w-right-han.jpg')
                        
                    
                    .card-primary
                        .card-block
                            h2.card-title Batteries
                            .image-container
                                img.img-fluid.rounded(src='https://5.imimg.com/data5/SELLER/Default/2022/9/AI/ZW/ZM/104064366/tata-green-premio-70d26r-car-battery.png')
                                img.img-fluid.rounded(src='https://5.imimg.com/data5/DD/YH/MY-26895427/amaron-automotive-batteries.jpg')
                                img.img-fluid.rounded(src='https://5.imimg.com/data5/CO/ML/ET/SELLER-2586278/exide-xplore-bike-battery.jpeg')
                        
                             
                    .card-primary
                        .card-block
                            h2.card-title Chain lubricants
                            .image-container
                                img.img-fluid.rounded(src='https://s3.ap-south-1.amazonaws.com/choosemybicycle.webp/images/accessories/juice-lubes-wax-chain-oil-130ml-new.webp')
                                img.img-fluid.rounded(src='https://m.media-amazon.com/images/I/813M8+HraJS.jpg')
                                img.img-fluid.rounded(src='https://cdn.moglix.com/p/kK9Id6RHTkljY-xxlarge.jpg')
                             
                    .card-primary
                        .card-block
                            a.btn.btn-primary.float-end(href='/location/review/new') Add review