extends layout
block content
    .row.banner
        .col-12
            h1 SPARE PARTS 
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    .card.card-primary
                        .card-block
                            h2.card-title Break pads
                            img.img-fluid.rounded(src='https://media.istockphoto.com/id/503317759/photo/brake-pads.jpg?s=612x612&w=0&k=20&c=mMaGLbmU_sJC9K1-huzIVcOFB2672MPO7BolX-ZVZNc=')
                    .card.card-primary
                        .card-block
                            h2.card-title Chains
                             img.img-fluid.rounded(src='https://m.media-amazon.com/images/I/71I98k3nKzL._AC_UF1000,1000_QL80_.jpg')
                    .card.card-primary
                        .card-block
                            h2.card-title Break Levers
                             img.img-fluid.rounded(src='https://m.media-amazon.com/images/I/61-HF5Xr3uL.jpg')
                    .card.card-primary
                        .card-block
                            h2.card-title Batteries 
                             img.img-fluid.rounded(src='https://5.imimg.com/data5/SELLER/Default/2022/9/AI/ZW/ZM/104064366/tata-green-premio-70d26r-car-battery.png')
                    .card.card-primary
                        .card-block
                            h2.card-title Chain lubricants
                             img.img-fluid.rounded(src='https://s3.ap-south-1.amazonaws.com/choosemybicycle.webp/images/accessories/juice-lubes-wax-chain-oil-130ml-new.webp')
                                     