extends layout
block content
    .row.banner
        .col-12
            h1 TYRES 
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    .card.card-primary
                        .card-block
                            h2.card-title Cars-Tyres
                            img.img-fluid.rounded(src='https://www.carpockets.co.ke/cdn/shop/articles/the-secret-numbers-on-your-tyres-and-what-they-mean-carpockets.jpg?v=1651473958')
                    .card.card-primary
                        .card-block
                            h2.card-title Bike-Tyres 
                             img.img-fluid.rounded(src='https://5.imimg.com/data5/HQ/WM/MY-23173829/mrf-bike-tyre.png')
                    .card.card-primary
                        .card-block
                            h2.card-title Truck-Tyres 
                             img.img-fluid.rounded(src='https://5.imimg.com/data5/HU/HB/MY-4858935/forklift-tyre-500x500.jpg')
                    .card.card-primary
                        .card-block
                            h2.card-title Lorry-Tyres 
                             img.img-fluid.rounded(src='https://ecomiles.in/cdn/shop/products/GRADER-XL_8_6e5cd825-d561-46c9-99c5-22ef575de3bf.png?v=1675404257')
                                     