extends layout
block content
    style.
        .image-container {
            text-align: center; /* Center-align the text */
            padding: 20px; /* Add padding for spacing */
        }
        .image-container img {
            width: 100%; /* Ensure all images have the same width */
            max-height: 200px; /* Set a fixed height for the image containers */
            display: block;
            margin: 0 auto;
        }
        .image-container p {
            margin-top: 5px; /* Add some spacing between image and text */
        }

    .row.banner
        .col-12
            h1 TYRES 
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    .card-primary
                        img.img-fluid.rounded(src='https://www.carpockets.co.ke/cdn/shop/articles/the-secret-numbers-on-your-tyres-and-what-they-mean-carpockets.jpg?v=1651473958', alt='MRf Tyres')
                        .card-block
                            h2.card-title Cars-Tyres
                            p MRf Tyres
                            p Instock: 20
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://5.imimg.com/data5/KQ/EV/WD/SELLER-57230940/honda-city-car-tyre.jpg', alt='Honda City Tyres')
                        .card-block
                            h2.card-title Cars-Tyres
                            p Honda City Tyres
                            p Instock: 20
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://tyres.cardekho.com/news/wp-content/uploads/2019/11/tyre_560x420_560x420.jpg', alt='Some Other Tyres')
                        .card-block
                            h2.card-title Cars-Tyres
                            p Ceat Tyres
                            p Instock: 20
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://5.imimg.com/data5/HQ/WM/MY-23173829/mrf-bike-tyre.png', alt='MRF Bike Tyres')
                        .card-block
                            h2.card-title Bike-Tyres
                            p MRF Bike Tyres
                            p Instock: 16
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://5.imimg.com/data5/SELLER/Default/2023/4/300680076/MG/AO/LW/9177601/71xdmh3biml-sl1500--500x500.jpg', alt='Another Bike Tyre')
                        .card-block
                            h2.card-title Bike-Tyres
                            p Ceat Bike Tyre
                            p Instock: 16
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk5z1KHSVE5EOyEppLFJew8pKnuatgSmUNbg&usqp=CAU', alt='Yet Another Bike Tyre')
                        .card-block
                            h2.card-title Bike-Tyres
                            p Apollo Bike Tyre
                            p Instock: 16

                .col-12.col-md-6
                    .card-primary
                        img.img-fluid.rounded(src='https://5.imimg.com/data5/HU/HB/MY-4858935/forklift-tyre-500x500.jpg', alt='Forklift Tyres')
                        .card-block
                            h2.card-title Truck-Tyres 
                            p Forklift Tyres
                            p Instock: 40
                            
                    .card-primary
                        img.img-fluid.rounded(src='https://5.imimg.com/data5/TK/LM/MY-4557027/mrf-truck-tyre-500x500.jpg', alt='MRF Truck Tyres')
                        .card-block
                            h2.card-title Truck-Tyres 
                            p MRF Truck Tyres
                            p Instock: 40
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://cdn.moglix.com/p/Hm7aT0fKo5HyL-xxlarge.jpg', alt='Some Other Truck Tyres')
                        .card-block
                            h2.card-title Truck-Tyres 
                            p Ceat Truck Tyres
                            p Instock: 40
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://ecomiles.in/cdn/shop/products/GRADER-XL_8_6e5cd825-d561-46c9-99c5-22ef575de3bf.png?v=1675404257', alt='Grader XL Tyres')
                        .card-block
                            h2.card-title Lorry-Tyres 
                            p Grader XL Tyres
                            p Instock: 50
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://ecomiles.in/cdn/shop/products/JTtyrecopy_4.jpg?v=1677236383', alt='Some Other Lorry Tyres')
                        .card-block
                            h2.card-title Lorry-Tyres 
                            p MRF Lorry Tyres
                            p Instock: 50

                    .card-primary
                        img.img-fluid.rounded(src='https://www.tradeindia.com/_next/image/?url=https%3A%2F%2Fcpimg.tistatic.com%2F08211349%2Fb%2F4%2FTruck-Tyre.jpg&w=750&q=75', alt='Yet Another Lorry Tyre')
                        .card-block
                            h2.card-title Lorry-Tyres 
                            p Apollo Lorry Tyre
                            p Instock: 50
                .col-12.col-md-5
                    .card-primary
                        .card-block
                            a.btn.btn-primary.float-end(href='/home/location/review/new') Add review
